name: CI

on:
  push:
    branches: [ "main", "fix/standardize-layout" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build
      run: |
        go build -v ./cmd/gosqueal

    - name: Test
      run: go test -v ./...
