name: Helm Validation

on:
  push:
    paths:
      - 'helm/**'
  pull_request:
    paths:
      - 'helm/**'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - name: Helm Lint
        run: helm lint helm/gosqueal

      - name: Helm Template (Dry Run)
        run: helm template gosqueal helm/gosqueal --debug
